body{
    background-color: #fae3e3;
}
.error404-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: 50px auto; /* Center the container vertically and horizontally */
    text-align: center;
  }
  
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  